.Wrapper_SuKienCard{
    background-color: white;
    width: 100%;
    height: 400px;
    &+&{
        margin-top: 10px;
    }
        .SuKienCard_Divtitle{
            display: flex;
            padding: 0px 10px;
            padding-top: 10px;

                &_content{
                    margin-left: 15px;
                        &_title{
                            font-size: 15px;
                            font-weight: 600;
                            display:-webkit-box;
                            -webkit-line-clamp:1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            word-break: break-word;
                        }
                        &_tag{
                            font-size: 13px;
                            display:-webkit-box;
                            -webkit-line-clamp:1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            word-break: break-word;
                            opacity: 0.7;
                        }
                }
                &_avt{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
        }

       
        .SuKienCard_description{
            font-size: 12px;
            display:-webkit-box;
            -webkit-line-clamp:8;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            padding: 10px 10px 0 10px;
            text-align: justify;
        }
        .SuKienCard_img{
            width: 100%;
            height: 130px;
            margin-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .SuKienCard_Divlike{
            text-align: center;
            padding-top: 10px;
            display: flex;
            justify-content: center;
            gap: 100px;
            .SuKienCard_Divlike_iconLike,.SuKienCard_Divlike_iconShare{
                background-color: rgb(244, 240, 240);
                width: 50px;
                height: 28px;
                justify-content: center;
                display: flex;
                align-items: center;
                border-radius: 5px;
              &:hover{
                scale: 1.1;
              }
            }
           
        }
        .sad{
            display:-webkit-box;
            -webkit-line-clamp:1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
        // [display:-webkit-box] [-webkit-line-clamp:2] [-webkit-box-orient:vertical] [overflow:hidden] [text-overflow:ellipsis] [word-break:break-word]
}
