
.items-chuck{

    &:hover{
        .items{
            position:absolute;
            display: block;
            z-index: 1  ;
            opacity: 1;
        }
    }
}

.items{
    display: none;
    opacity: 0;
}